; {{ ansible_managed }}

[program:celery]
autostart=true
autorestart=true
command = {{ crosshair_virtualenv }}/bin/celery_start
user = celery
stdout_logfile = {{ crosshair_celery_log }}
stderr_logfile = NONE
redirect_stderr = true
