; {{ ansible_managed }}

[program:gunicorn]
command = {{ crosshair_virtualenv }}/bin/gunicorn_start
user = gunicorn
stdout_logfile = {{ crosshair_gunicorn_log }}
stderr_logfile = NONE
redirect_stderr = true
